/* Body */

html, body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden !important;
}

/* Navbar */
.nav-footer-colour {
  background-color: #54cdff;
}

.lang-btn {
  color: rgba(0,0,0,.6);
}

.lang-btn:hover {
  color: rgba(0,0,0,.8);
}

.flag-de {
  width: 20px;
  height: 20px;
  background-image: url('../img/german-flag.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.flag-en {
  width: 20px;
  height: 20px;
  background-image: url('../img/english-flag.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Banner */

.banner-img {
  width: 200px;
  height: 200px;
  background-image: url('../img/profile-pic.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .banner-img {
    width: 100%;
    height: 97vh;
    background-position: 69%;
    border-radius: 0;
  }
}

@media (min-width: 1200px) {
  .banner-img {
    height: 95vh;
    background-attachment: fixed;
    background-size: contain;
    background-position: right;
    clip-path: ellipse(60% 60% at 70% 50%);
  }
}

.word-break {
  word-wrap: break-word;
}

.learn-more-button {
  position: absolute;
  bottom: 0;
}

.learn-more-btn {
  text-decoration: none;
  color: #333;
}

.learn-more-btn:hover {
  text-decoration: none;
  color: #000;
}

.fa-chevron-down {
  position: absolute;
  animation-name: arrow-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal ; 
  animation-timing-function: ease-in-out; 
  animation-fill-mode: forwards;
}

@keyframes arrow-anim {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 20px;
  }
}

/* About */
.diploma-img {
  width: 100%;
  height: 350px;
  background-image: url('../img/Diploma.png');
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  .diploma-img {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .diploma-img {
    height: 500px;
  }
}

@media (min-width: 992px) {
  /* Endpoint of fade-in animation */
  .is-visible {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    visibility: visible;
  }
  /* Animation from right */
  .invisible-right {
    opacity: 1;
    transform: translateX(5vh);
    visibility: hidden;
  }
  /* Animation from left */
  .invisible-left {
    opacity: 0;
    transform: translateX(-5vh);
    visibility: hidden;
  }
  /* Animation from below for cards */
  .invisible-card {
    opacity: 0;
    transform: translateY(15vh);
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    visibility: hidden;
  }
  /* Animation from above */
  .invisible-down {
    opacity: 0;
    transform: translateY(-3vh);
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    visibility: hidden;
  }
  /* Animation from to fade in for titles */
  .invisible-title {
    opacity: 0;
    transform: translateX(0);
    visibility: hidden;
  }
}

.blue-background {
  background-color: #ecfdff;
  max-width: 100%;
}

/* Cards */

.grid-3 {
  display: grid;
  justify-items: left;
  grid-template-columns: 100%;
  column-gap: 10px;
  row-gap: 15px;
  grid-template-rows: auto;
}

.card-body {
  min-height: 270px;
}

@media (min-width: 768px) {
  .grid-3 {
    display: grid;
    justify-items: left;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    row-gap: 15px;
    grid-template-rows: auto;
  }
}

@media (min-width: 992px) {
  .grid-3 {
    display: grid;
    justify-items: left;
    grid-template-columns: 33.33% 33.33% 33.33%;
    column-gap: 10px;
    row-gap: 15px;
    grid-template-rows: auto;
  }
}

.bg {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

@media (min-width: 768px) {
  .bg {
    height: 202px;
  }
}

.site-1 {
  background-image: url('../img/phoneSite.png');
}

.site-2 {
  background-image: url('../img/skywheelers-site.png');
}

.site-3 {
  background-image: url('../img/boutique-ado-pic.png');
}

.site-4 {
  background-image: url('../img/js-site.png');
}

.site-5 {
  background-image: url('../img/shopping-list.png');
}

.site-6 {
  background-image: url('../img/charity-site.png');
}

.site-7 {
  background-image: url('../img/portfolio-pic.png');
}

.site-8 {
  background-image: url('../img/hobbit-page.png');
}

.site-9 {
  background-image: url('../img/germany-site.png');
}

.intern-site-1 {
  background-image: url('../img/mendelson.png');
}

.intern-site-2 {
  background-image: url('../img/atalier.png');
}

.intern-site-3 {
  background-image: url('../img/envy.png');
}

.toast-position {
  position: fixed !important; 
  z-index: 999;
  top: 75px;
  right: 20px;
}

@media (min-width: 992px) {
  .toast-position {
    top: 110px;
    right: 30px;
  }
}

@media (min-width: 1200) {
  .toast-position {
    top: 75px;
    right: 20px;
  }
}

/* Footer */
.footer-lists {
  list-style: none;
}

.footer-colour {
  color: #333;
}

.footer-colour:hover {
  color: #333;
}