/* Body */

body {
  font-family: 'Montserrat', sans-serif;
}

/* Navbar */

.flag-de {
  width: 20px;
  height: 20px;
  background-image: url('../img/german-flag.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.flag-en {
  width: 20px;
  height: 20px;
  background-image: url('../img/english-flag.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Banner */

.banner-img {
  width: 200px;
  height: 200px;
  background-image: url('../img/profile-pic.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .banner-img {
    width: 100%;
    height: 95vh;
    background-position: 69%;
    border-radius: 0;
  }
}

@media (min-width: 1200px) {
  .banner-img {
    background-attachment: fixed;
    background-size: contain;
    background-position: right;
    clip-path: ellipse(60% 60% at 70% 50%);
  }
}

.word-break {
  word-wrap: break-word;
}

.learn-more-button {
  position: absolute;
  bottom: 0;
}

.learn-more-btn {
  text-decoration: none;
  color: #333;
}

.learn-more-btn:hover {
  text-decoration: none;
  color: #000;
}

.fa-chevron-down {
  position: absolute;
  animation-name: arrow-anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-direction: normal ; 
  animation-timing-function: ease-in-out; 
  animation-fill-mode: forwards;
}

@keyframes arrow-anim {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 20px;
  }
}

/* About */
.about-img {
  width: 100%;
  height: 300px;
  background-image: url('../img/about-picture.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (min-width: 992px) {
  .about-img {
    height: 400px
  }
}

.blue-background {
  background-color: #ecfdff;
}

/* Cards */

.grid-3 {
  display: grid;
  justify-items: left;
  grid-template-columns: 100%;
  column-gap: 10px;
  row-gap: 15px;
  grid-template-rows: auto;
}

@media (min-width: 768px) {
  .grid-3 {
    display: grid;
    justify-items: left;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    row-gap: 15px;
    grid-template-rows: auto;
  }
}

@media (min-width: 992px) {
  .grid-3 {
    display: grid;
    justify-items: left;
    grid-template-columns: 33.33% 33.33% 33.33%;
    column-gap: 10px;
    row-gap: 15px;
    grid-template-rows: auto;
  }
}
.bg {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

@media (min-width: 768px) {
  .bg {
    height: 202px;
  }
}

.site-1 {
  background-image: url('../img/phoneSite.png');
}

.site-2 {
  background-image: url('../img/skywheelers-site.png');
}

.site-3 {
  background-image: url('../img/js-site.png');
}

.site-4 {
  background-image: url('../img/shopping-list.png');
}

.site-5 {
  background-image: url('../img/charity-site.png');
}

.site-6 {
  background-image: url('../img/germany-site.png');
}

/* Footer */
.footer-lists {
  list-style: none;
}

.footer-colour {
  color: #333;
}